/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .button-collapse {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: 400px;
   color: rgba(255,255,255,.9);
 }
 
   .parallax-container .section {
	 width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
	 position: absolute;
	 top: 40%;
   }
   #index-banner .section {
	 top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
	 top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 .loginBtn {
   box-sizing: border-box;
   position: relative;
   /* width: 13em;  - apply for fixed size */
   margin: 0.2em;
   padding: 0 15px 0 46px;
   border: none;
   text-align: left;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 16px;
   color: #FFF;
 }
 .loginBtn:before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 34px;
   height: 100%;
 }
 .loginBtn:focus {
   outline: none;
 }
 .loginBtn:active {
   box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
 }
 
 
 /* Facebook */
 .loginBtn--facebook {
   background-color: #4C69BA;
   background-image: linear-gradient(#4C69BA, #3B55A0);
   /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
   text-shadow: 0 -1px 0 #354C8C;
 }
 .loginBtn--facebook:before {
   border-right: #364e92 1px solid;
   background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
 }
 .loginBtn--facebook:hover,
 .loginBtn--facebook:focus {
   background-color: #5B7BD5;
   background-image: linear-gradient(#5B7BD5, #4864B1);
 }
 
 .preload{
   width: 100%;
   weight: 100%;
   background: #333;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
 }
 
 .logo{
   width: 300px;
   height: 70px;
   margin: 150px auto 50px auto;
   font-size: 50px;
   text-shadow: -1px 2px 2px #000;
   text-align: center;
   color: azure;
 }
 
 .loader-frame{
   width: 70px;
   height: 70px;
   margin: auto;
   position: relative;
 }
 
 .loader1, .loader{
   position: absolute;
   border: 5px solid transparent;
   border-radius: 50%;
 }
 .loader1{
   width: 70px;
   height: 70px;
   border-top: 5px solid azure;
   border-bottom: 5px solid azure;
   animation: clockwisespin 2s linear 3;
 }
 .loader2{
   width: 60px;
   height: 60px;
   border-left: 5px solid darkturquoise;
   border-right: 5px solid darkturquoise ;
   top: 5px; left: 5px;
   animation: anticlockwisespin 2s linear 3;
 }
 
 @keyframes clockwisespin{
   from{transform: rotate(0deg);}
   to{transform: rotate(360deg);}
 }
 @keyframes anticlockwisespin{
   from{transform: rotate(0deg);}
   to{transform: rotate(-360deg);}
 }
 @keyframes fadeout{
   from{opacity: 1;}
   to{opacity: 0;}
 }