<style type="text/css">


  .white-text {
    color: #FFFFFF !important;
 }

 .grey-text {
     color: #9e9e9e !important;
 }

 .grey-text.text-lighten-4 {
     color: #f5f5f5 !important;
 }

 p,h5, button{
  
  all: initial;
  all: unset;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

h5{
  font-size: 1.64rem;
    line-height: 110%;
    margin: .82rem 0 .656rem 0;
}

</style>

<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Unitec Empresa Júnior</h5> <br/>
          <p class="grey-text text-lighten-4">Faculdade de Tecnologia - Universidade Estadual de Campinas <br/> Rua Paschoal Marmo, 1888 - Limeira <br/> 
13484-332</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Acompanhe a gente em nossas redes sociais!</h5>
          <ul>
            <li>
              <a href="https://www.facebook.com/jr.unitec/" target="_blank">
              <button class="loginBtn loginBtn--facebook">
                Facebook
              </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
     
      </div>
    </div>
  </footer>