<div  class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="index.php" class="brand-logo">
          <img src="assets/logo2.png" width="100px" style="margin: 12px 0px 5px" />         
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="index.php">Início</a>
          </li>
          <li>
            <a href="sobrenos.php">Sobre Nós</a>
          </li>
          <li>
            <a href="servicos.php">Serviços</a>
          </li>
          <li>
            <a href="p&d.php">P&D</a>
          </li>
          <li>
            <a href="contato.php">Contato</a>
          </li>
        </ul>
  
        <ul id="nav-mobile" class="side-nav">
          <li><a href="index.php">Início</a></li>
          <li><a href="sobrenos.php">Sobre Nós</a></li>
          <li><a href="servicos.php">Serviços</a></li>
          <li><a href="p&d.php">P&D</a></li>
          <li><a href="contato.php">Contato</a></li>
        </ul>
  
        <style>
  
        /* fallback */
        @font-face {
          font-family: 'Material Icons';
          font-style: normal;
          font-weight: 400;
          src: url(https://fonts.gstatic.com/s/materialicons/v28/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
        }
  
        .material-icons {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
        }
  
        </style>
  
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
</div>
  